#root {
  height: 100%;
  width: 100%;
  background-color: var(--layer-1-light);
  overflow: scroll;
}

[data-theme="dark"] #root {
  background-color: var(--layer-1-dark);
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app-content {
  flex: 1;
  overflow: auto;
  width: 100%;
}

.app-menu {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin: 0;
  backdrop-filter: blur(10px);
}
